.first-section__block {
  display: flow-root;
  margin-bottom: 30px;
}

.first-section__block:last-child {
  margin-bottom: 0;
}

.first-section__img-1 {
  float: left;
  margin-right: 30px;
}

.first-section__img-2 {
  float: right;
  margin-left: 40px;
}