.menu {
  padding: 25px 0;
}

.menu__title {
  margin-bottom: 20px;
  padding-left: 15px;

  font-size: 44px;
  font-weight: 700;
}

.menu__list {
  padding-left: 40px;
  list-style-type: decimal;
}

.menu__item {
  margin-bottom: 10px;
  color: #02535f;
}

.menu__item:last-child {
  margin-bottom: 0;
}