.recap {
  padding: 25px 0;
}

.recap__title {
  margin-bottom: 20px;
  padding-left: 15px;

  font-size: 44px;
  font-weight: 900;
}

.recap__items {
  margin-bottom: 30px;
}

.recap__item {
  margin-bottom: 10px;
  padding-left: 16px;
}

.recap__item:last-child {
  margin-bottom: 0;
}