.resume {
  padding: 25px 0;
}

.resume__title {
  margin-bottom: 20px;
  padding-left: 15px;

  font-size: 44px;
  font-weight: 900;
}

.resume__list {
  margin-bottom: 30px;
}

.resume__item {
  margin-bottom: 10px;
  padding-left: 16px;
}

.resume__item:last-child {
  margin-bottom: 0;
}