.second-section__figure {
  margin-bottom: 30px;
}

.figure {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.figure__img {
  margin-bottom: 0;
}

.figure__caption {
  padding: 15px 30px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}